<% cache notification do %>
  <%= notification_tag notification do %>
    <div class="notification__content border-radius borderless pad shadow fill-white flex align-start txt-align-start gap-half">
      <div class="avatar txt-small">
        <%= avatar_image_tag(notification.creator) %>
      </div>

      <div class="flex flex-column txt-tight-lines">
        <strong><%= notification_title(notification) %></strong>
        <div><%= notification_body(notification) %> · <%= local_datetime_tag(notification.created_at, style: :ago) %></div>
      </div>
    </div>
  <% end %>
<% end %>
