<!DOCTYPE html>
<html>
  <head>
    <%= page_title_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, interactive-widget=resizes-content">
    <meta name="view-transition" content="same-origin">
    <meta name="color-scheme" content="light dark">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= tag.meta name: "current-user-id", content: Current.user.id if Current.user %>

    <%= combobox_style_tag %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body data-controller="lightbox local-time">
    <header id="header">
      <a href="#main-content" class="skip-navigation btn">Skip to main content</a>
      <%= yield :header %>
    </header>

    <% if notice = flash[:notice] || flash[:alert] %>
      <div class="flash" data-controller="element-removal" data-action="animationend->element-removal#remove">
        <div class="flash__inner shadow" style="<%= "--flash-background: var(--color-negative)" if flash[:alert] %>">
          <% if flash[:alert] %>
            <%= image_tag "alert.svg", aria: { hidden: true }, size: 24, class: "colorize--white" %></span>
          <% else %>
            <%= image_tag "check.svg", aria: { hidden: true }, size: 24, class: "colorize--white" %></span>
          <% end %>
        </div>
        <span class="for-screen-reader" role="alert" aria-atomic="true"><%= notice %></span>
      </div>
    <% end %>

    <main id="main">
      <%= yield %>
    </main>

    <footer id="footer">
      <%= yield :footer %>
    </footer>

    <%= render "layouts/lightbox" %>
  </body>
</html>
